# Compilação de arquivos binários
bin/
obj/

# Logs
*.log

# Arquivos de pacote
*.nupkg
*.snupkg

# Arquivos de configuração gerados pelo Visual Studio
.vscode/
.vscode/**/*
.vs/
.vs/**

# Arquivos de dependência
project.lock.json
project.fragment.lock.json
artifacts/

# Arquivos de publicação e construção
publish/
out/

# Arquivos de usuário do Visual Studio
*.user
*.userosscache
*.suo
*.sln.docstates

# Configurações do Mono Auto Generated
mono_crash.*

# Sistema operacional específico
.DS_Store
Thumbs.db

# Configurações específicas de IDE
.idea/
.idea/**/*
*.sln.iml

# Arquivos temporários de testes
TestResults/
*.coverage
*.coveragexml
*.testsettings
*.vsmdi
*.vsp
*.vspx
*.coverage
*.coveragexml
*_Report.html
*_Result.xml
TestResult.xml

# Arquivos de backup
*.bak

# Arquivos de análise de código
.vs/slnx.sqlite
.vs/*.suo
.vs/*.v12.suo
